.card__delete-button{
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  background-image: url(../../../images/Trash.svg);
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  transition: opacity 0.2s;
  cursor: pointer;
}
.card__delete-button:hover{
 opacity: 0.6;
}